/** Merc page stuff **/
#bountyForm {
    width: 100%;
    height: 300px;
    display: inline-block;
}

#bountyList {
    width: 100%;
    height: 600px;
    overflow: scroll;
}
#bountyFrame {
    width: 100%;
}

.bountyInfo {
    width: 100%
}

p.bountyInfo {
    display: inline-block;
    color: black;
    font: bold 16px/30px Morpheus, serif;
    text-align: left;
}

.bountyDesc {
    width: 90%;
}
p.bountyDesc {
    color: black;
    font: 16px/30px Georgia, serif;
    text-align: left;
}