
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html{
  height: 100%;
}

body {
    background: linear-gradient(rgba(2, 47, 5, 0.3), #FFFFFF);
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 1.0em;
    color: #FFFFFF;
    font-weight: 200;
    min-height: 100%;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
a {
	color: #111;
	border-bottom: 1px solid #111;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #479635;
	color: #479635;
}

a:focus {
	outline: none;
}

h1 {
	color: #44311E;
	font-size: 2.7em;
	text-transform: uppercase;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

.width {
	max-width: 1100px;
	margin: 0 auto;
}


#container {
	background-color: #fff;
	width: auto;
	margin: 0 auto;
}

header {
	padding: 30px 0px;
	margin: 0 auto;
	text-align: left;
	background: linear-gradient(#402C00, #2C1E00);
}

header h1 a {
    color: #1D7817;
    font-size: 1.4em;
    padding: 10px 0;
    letter-spacing: -2px;
    border-bottom: none;
}

header h1 a:hover {
    transition: all s ease-in;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px rgba(46, 230, 23, 0.49);
}

nav {
	border-top: 1px solid #515150;
	height: 80px;
	width: 100%;
	background: linear-gradient(#006E00, #015301);
	box-shadow: 0px 4px 5px #9A9A9A;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 16px 0 0;
	text-align: left;
}

nav ul li {
	display: inline;
	padding: 0px;
}


nav ul li a {
	display: inline-block;
	padding: 10px 20px;
    color: #FFFFFF;
    font-size: 1.2em;
    letter-spacing: 0;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.5px;
}


nav ul li a:hover {
	color: #fff;
   transition: all s ease-in;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

nav ul li.selected a {
	background: linear-gradient(#663300, #4F0101);
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}

#body {
	margin: 5px auto 0;
 	padding: 0;
	clear: both;
    height: 100%;
}

#content {
    float: left;
}

.two-column {
	width: 100%;
}

.with-right-sidebar {
	margin-right: 0%;
}

article {
    padding: 10px 10px 0px 5px;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0));
 }
 
#youtube {
    padding: 10px 10px 0px 5px;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0));
 }

.sidebar {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0));
    padding: 5px;
    height: 100%;
}

.small-sidebar { 
   width: 25%;
}

.right-sidebar {
	float: right;
}

@media screen and (max-width: 740px) {

	body { font-size: 0.8em; }	

	header h1 a, header h1 a:hover { padding: 5px; }

	div#container { width: auto; }

	footer .footer-content ul { margin-bottom: 15px; }

	footer .footer-content ul.endfooter { margin-bottom: 0px; }

	.width { width:auto; padding-left: 10px; padding-right: 10px; }
	
	#content, aside.sidebar { float: none; width: auto; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }

	nav ul { margin-top: 0; padding: 10px; }
	
	nav ul li { float: none; text-align:center;  }

	nav ul li a { margin-top: 0; }

	nav { height: auto; position: relative; }

}

a.admin {
	display: inline-block;
	padding: 10px 20px;
    color: Black;
    font-size: 1em;
    letter-spacing: 0;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/**Character page styles**/
._desc {
    width: 400px;
    position: fixed;
    display: none;
    border: 2px solid black;
    color: black;
    font: bold 14px/30px Georgia, serif;
    margin-bottom: 0px;
    background-color: #CCCC66;
    z-index: 1000;
}

.perkIcon + label img {
    opacity: 0.5;
}

.perkIcon:checked + label img {
    opacity: 1;
}

.perkIcon {
    display: none;
}

#charContainer {
    display: inline-block;
    width: 100%;
    height: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#charLeft {
    display: inline-block;
    width: 300px;
    height: 100%;
    overflow: hidden;
    float: left;
}

#charRight {
    display: inline-block;
    width: 760px;
    height: 100%;
    overflow: auto;
    float: right;
    font:italic bold 14px/30px Georgia, serif;
}

.charInfo {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    float: left;
    border: 1px solid #73AD21;
    font:italic bold 16px/30px Georgia, serif;
    padding-top: 5px;
}

/** Merc page stuff **/
#bountyForm {
    width: 100%;
    display: inline-block;
}

#bountyList {
    width: 100%;
    height: 600px;
    overflow: scroll;
}
#bountyFrame {
    width: 100%;
}

.bountyInfo {
    width: 100%
}

p.bountyInfo {
    display: inline-block;
    color: black;
    font: bold 16px/30px Morpheus, serif;
    text-align: left;
}

.bountyDesc {
    width: 100%;
}
p.bountyDesc {
    color: black;
    font: 16px/30px Georgia, serif;
    text-align: left;
}

.postframe {
    color: black;
}

.postinfo {
    font-weight: bold;
}